<a href="https://colab.research.google.com/github/francoriottini/tareasdeherramientascomputacionales/blob/main/Tarea1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import files
uploaded = files.upload()

Saving tarea.csv to tarea.csv

In [4]:
import pandas as pd
import io
unknown = pd.read_csv(io.StringIO(uploaded['tarea.csv'].decode('utf-8'))) #Subimos la base y la nombramos unknown

In [34]:
print(unknown.head()) #Mostramos las primeras 5 filas

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [5]:
print(unknown.head(3)) #Mostramos las primeras 3 filas

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31

In [6]:
print(unknown.cut) #Imprimimos la columna 'cut'
#print(pd.DataFrame(unknown, columns = ['cut'])) #Alternativa como dataframe

0            Ideal
1          Premium
2             Good
3          Premium
4             Good
           ...
53935        Ideal
53936         Good
53937    Very Good
53938      Premium
53939        Ideal
Name: cut, Length: 53940, dtype: object

In [7]:
#Creamos la serie "calidad - color"
#unknown.color
#unknown["color"]
calidadcolor = unknown[["cut", "color"]].apply("-".join, axis = 1)
print(calidadcolor)
#unknown["calidad-color"] = unknown[["cut", "color"]].apply("-".join, axis = 1) #También podemos agregarlo como nueva columna a la base
#print(unknown["calidad-color"]) #Refleja lo mismo que antes

0            Ideal-E
1          Premium-E
2             Good-E
3          Premium-I
4             Good-J
            ...
53935        Ideal-D
53936         Good-D
53937    Very Good-D
53938      Premium-H
53939        Ideal-D
Length: 53940, dtype: object

In [8]:
shape = unknown.shape
print(f"The shape of the db is: {shape}")

dtypes = unknown.dtypes
print(f"Types of each column are:")
print(dtypes)

The shape of the db is: (53940, 10)
Types of each column are:
carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

In [9]:
print(unknown.describe(include=['object']))

          cut  color clarity
count   53940  53940   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11292   13065

In [10]:
print(f"La base original es: \n\n {unknown.head()}\n")
#unknown.head()
modifunknown = unknown.rename(columns = {"clarity": "claridad", "cut": "calidad"})
#modifunknown.head()
print(f"La base modificada es: \n\n {modifunknown.head()}")

La base original es:

    carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

La base modificada es:

    carat  calidad color claridad  depth  table  price     x     y     z
0   0.23    Ideal     E      SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E      SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E      VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I      VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J      SI2   63.3   58.0    335  4.34  4.35  2.75

In [11]:
unknown2 = unknown.drop(unknown.columns[[1, 2]], axis=1)
print(unknown2)

       carat clarity  depth  table  price     x     y     z
0       0.23     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 8 columns]

In [12]:
unknown2.drop([0, 1, 15, 200, 3000, 50000], inplace = True)
print(unknown2)

       carat clarity  depth  table  price     x     y     z
2       0.23     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31     SI2   63.3   58.0    335  4.34  4.35  2.75
5       0.24    VVS2   62.8   57.0    336  3.94   NaN  2.48
6       0.24    VVS1   62.3   57.0    336  3.95  3.98  2.47
...      ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53934 rows x 8 columns]

In [13]:
unknown.cut.sort_values()
type(unknown.cut.sort_values())
print(unknown.cut.sort_values()) #Tomado así, "cut" es una LISTA

3850          Fair
51464         Fair
51466         Fair
10237         Fair
10760         Fair
           ...
7402     Very Good
43101    Very Good
16893    Very Good
16898    Very Good
21164    Very Good
Name: cut, Length: 53940, dtype: object

In [15]:
unknown.sort_values('carat', ascending = False)

       carat      cut color clarity  depth  table  price      x      y     z
27415   5.01     Fair     J      I1   65.5   59.0  18018  10.74  10.54  6.98
27630   4.50     Fair     J      I1   65.8   58.0  18531  10.23  10.16  6.72
27130   4.13     Fair     H      I1   64.8   61.0  17329  10.00   9.85  6.43
25999   4.01  Premium     J      I1   62.5   62.0  15223  10.02   9.94  6.24
25998   4.01  Premium     I      I1   61.0   61.0  15223  10.14  10.10  6.17
...      ...      ...   ...     ...    ...    ...    ...    ...    ...   ...
31592   0.20  Premium     E     VS2   59.0   60.0    367   3.81   3.78  2.24
31591   0.20  Premium     E     VS2   59.8   62.0    367   3.79   3.77  2.26
31601   0.20  Premium     D     VS2   61.7   60.0    367   3.77   3.72  2.31
14      0.20  Premium     E     SI2   60.2   62.0    345   3.79   3.75  2.27
31596   0.20  Premium     F     VS2   62.6   59.0    367   3.73   3.71  2.33

[53940 rows x 10 columns]